.jumbotron{
  width: 50%;
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 100px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 5px solid rgb(0, 0, 0);
}

.jumbotron>img{
  vertical-align: middle;
  margin-bottom: 50px;
}
.jumbotron>form>a{
  text-align: center;
  margin-top: 10%;
  margin-bottom: 5%;
}

.inputEmail{
  width: 230px;
  padding-bottom: 20px;
}

.inputName, .inputPassword{
  padding-bottom: 20px;
}

input#email, input#password, input#nombre, input#repeatPassword, span.input-group-addon{
  border-color: black;
}

body{
  height: 100%;
  background-color: #0062a0;
}

.links{
  margin:10px;
}
.links a:hover{
  color:rgba(0, 29, 45, 0.9)!important;
}
.links a{
  text-decoration: none;
}

@media only screen and (max-width: 768px){
  .jumbotron{
    width: 70%!important;
    margin-top: 15%;
    margin-left: 17%!important;
    margin-right: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
  }
}

@media only screen and (max-width: 425px){
  .jumbotron>img{
    vertical-align: middle;
    margin-bottom: 50px;
    width: 50%;
    height: 50%;
  }
  .jumbotron{
    width: 90%;
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 100px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
  }
}


@media only screen and (max-width: 300px){

}
